.menu
	margin-left: auto
	padding-left: 50px
	position: relative

	@include respond-below(lg)
		display: none

	&__list
		display: flex
		list-style-type: none
		margin-top: 0
		margin-bottom: 0

	&__item:not(:last-child)
		margin-right: 36px

	&__link
		font-weight: 700

	&__search
		position: absolute
		top: 100%
		right: 0
		margin-top: 20px
		display: flex