.tagsWrapper {
	display: inline-block;
	margin-bottom: -8px;
}

.tagsWrapper :global(.ant-tag) {
	margin-bottom: 8px;
}

.buttonsWrapper {
	display: inline-grid;
	grid-auto-flow: column;
	grid-gap: 5px;
}