.rangePicker :global .ant-picker-header, .rangePicker :global .ant-picker-panel:last-child {
	display: none;
}

.footerLink {
	margin-top: 30px;
}

.descriptionsItemTextarea > span {
	display: block;
}